.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdena";
    -fx-text-fill: black;
}

.button{
	-fx-min-height: 20pt;
}

.text-field{
	-fx-min-height: 20pt;
	-fx-min-width: 20pt;
}

.label{
	-fx-min-height: 20pt;
}

.check-box{
	-fx-min-height: 20pt;
}

.toggle-button{
	-fx-min-height: 20pt;
}

.choice-box{
	-fx-min-height: 20pt;
}

.console{
	-fx-background-color: white;
	-fx-font-size: 12pt;
}

